<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7Q2dDTBOvaxcBZX0737L9Q7dWrwJo8mk</string>
	<key>GCM_SENDER_ID</key>
	<string>938616686346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLims.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>limsappsflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>limsappsflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938616686346:ios:cd4ca60e7289b992019cf3</string>
</dict>
</plist>